# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# Data (don't push user data to GitHub)
dataset/
encodings/
attendance/
pending_photos/
src/__pycache__/
